<div class="splash_two">
        <div class="splashbody">
            <div class="container">
            	<div class="about">
            		<h1>FAQ's</h1>
            		<br />
        			<h2>What is the Lets Pair Program?</h2>
            			<p><b>The Lets Pair Program is a way for developers to post classified ads about what qualities and skills they are looking for in someone they want to work with. It also allows developers to search the classified ads for a project to work on.</b></p>
        			<br/>
        			<h2>Is the Lets Pair Program right for me?</h2>
        				<p><b>Are you currently looking for someone to pair up with to program on a project?</b></p>
						<p><b>If your answer was yes, then this is the site for you.</b></p>
					<h2>What about Privacy?</h2>
						<p><b><%= link_to 'TERMS & CONDITIONS', terms_path %></b></p>
					<h2>Who can see my posts on the message board?</h2>
						<p><b>Only users that are currently logged in.</b></p>
					<br />
        		</div>
        	</div>
    	</div>
</div>