<div class="splash_three">
    <div class="splashbody">
        <div class="container">
        	<div class="contact">
        		<h2>Contact</h2>
        		<br />
        		<h3><a href="mailto:admin@thefirehoseproject.com" title="send an email to Lets-Pair-Program">General Info</a></h3>
        		<br />
    			<h3><a href="mailto:admin@thefirehoseproject.com" title="send an email to Lets-Pair-Program">Help</a></h3>
				<br />
    		</div>
    	</div>
	</div>
</div>