
<div class="col-xs-10 col-xs-offset-1">
  <% @categories.each do |category| %>
    <h1><%= category.name %></h1>
      <div class="col-xs-offset-1">
        <% category.sections.each do |section| %>
          <h2><%= section.name %></h2>
            <div class="col-xs-offset-1">
              <% section.posts.each do |post| %>
                <h3><%= link_to post.title, post_path(post) %></h3>
              <% end %>
            </div>
        <% end %>
      </div>
  <% end %>
</div>
<br class="clr" />