<div>
  <h2>
    <%= @post.title %>
  </h2>
  <p>
    <%= @post.message %>
  </p>
</div>

<hr />
<div>
  <% @post.replies.each do |reply| %>
    <p>
      <%= reply.message %>
    </p>
      -- <%= reply.user.email %>
  <% end %>
</div>