body{
  width: 100%;
  height: 100%;
  font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background:url(greyBack.png);
  padding-top:50px;
  padding-bottom: 180px;
}
html {
  width: 100%;
  min-height: 100%;
}

.clr {
  clear:both;
}

.alert{
  position: absolute;
  z-index: 200;
  height: 45px;
  border-radius: 0;
}
.navbar-default {
  background-color: #1D1F20;
  border: transparent !important;
  height: 60px;
}

.navbar-default .container-fluid{
  background-color: #1D1F20;
  height: 60px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  background-color: #1D1F20;
  border-radius: 0;
  background-image: none;
  padding-top: 5px;
  border: transparent;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
  color: #8b9f23;
  font-size: 25px;
  font-weight: bold;
}

.navbar-nav>li>a {
  color: #5d6367;
  font-weight: normal;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #8b9f23 !important;
}

h1 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.terms p {
  font-size: 20px;
  padding-left: 25px;
  padding-right: 25px;
}


.terms h2 {
  font-size: 35px;
  text-transform: uppercase;
  font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-left: 25px;
  padding-right: 25px;
}

.terms h3 {
  font-size: 23px;
  font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-left: 25px;
  padding-right: 25px;
}

.terms li {
  font-size: 20px;
  font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
  margin: 0 0 25px;
  font-size: 15px;
  line-height: 1.5;
}

.splash {
  display: table;
  width: 100%;
  height: 100%;
  padding: 200px 0;
  margin-top: -30px;
  margin-bottom: -50px;
  text-align: center;
  color: #fff;
  background:url(space.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 470px;
}


.splashbody {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
}

.splashtitle {
  font-size: 100px;
  border: 3px solid #FFFFFF;
  width:auto;
  background-color: rgba(29, 31, 32, 0.7);
}

.splash_two {
  display: table;
  width: 100%;
  height: 100%;
  padding: 200px 0;
  text-align: center;
  color: #fff;
  background:url(27code.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.splash_three {
  display: table;
  width: 100%;
  height: 100%;
  padding: 200px 0;
  text-align: center;
  color: #fff;
  background:url(19code.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.splash_four {
  display: table;
  width: 100%;
  height: 100%;
  padding: 200px 0;
  text-align: center;
  color: #fff;
  background:url(coding5.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.splash_five {
  display: table;
  width: 100%;
  padding: 200px 0;
  text-align: center;
  color: #fff;
  background:url(coding4.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 150px;
}

.slogantext {
  font-size: 17px;
  text-transform: uppercase;
}

.listbox{
  background: #fff;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.06);
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  border-radius:4px;
  margin-top:40px;
  padding: 20px 20px 20px;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
}

.btn.btn-info {
  background-color: #8b9f23;
  border: none;
  border-radius: 3px;
}

.btn.btn-info:hover{
  background-color: #1D1F20;
}

.big-button{
  width: 350px;
  text-transform: uppercase;
}

.jupiter {
  margin-top: 10px;
}

.about {
  background: black;
  opacity: 0.8;
  border: 2px solid #FFFFFF;
}

.contact {
  background: black;
  opacity: 0.8;
  border: 2px solid #FFFFFF;
}

.press {
  background: black;
  opacity: 0.8;
  border: 2px solid #FFFFFF;
}

.modal-backdrop {
  z-index: 1030;
}

.dashboard{
  background-color: #D1D1D1;
  min-height: 200px;
  padding: 30px;
}
.user-photo{
  border: 1px solid #5D6367;
  height: 150px;
  width: 150px;
  padding: 3px;
  background-size: cover;
  display: inline-block;
  margin: auto;
}
.navbar-photo{
  border-radius: 50%;
  border: 3px solid #AAAAAA;
  height: 40px;
  width: 40px;
  margin-top: 3px;
  background-size: cover;
}

/*Accordion Styles*/
.listbox {
  background-color: transparent !important;
  outline: none !important;
  border: none;
  box-shadow: none;
  border-color: none;
  border-radius: 0;
  margin-top: 40px;
  padding: 20px 20px 20px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.list-group {
    margin-bottom: 0px;
    background-color: #F5F5F5 !important;
}
.list-group p {
  color: #F5F5F5;
  padding-left: 5px !important;
  margin: 15px !important;
}
.list-group p.post-description {
  color: #A9A9A9;
  font-size: 12px;
}
.list-group p:hover{
  border-left: 4px solid #8B9F23;
}
.list-group span a {
  font-size: 10px;
  font-weight: bold;
  color: #EEEEEE !important;
  border-radius: 18px;
  background-color: #D5D5D5;
  padding: 8px 10px;
}
.list-group span a:hover {
  background-color: #8B9F23;
}

.custom {
  outline: none !important;
  border-radius: 0 !important;

  a {
    color: #5d6367 !important;
    font-weight: normal;
    font-size: 15px;
  }
  a:hover{
    text-decoration: none !important;
  }

  .listbox, .panel-heading{ // category heading
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 15px;
    background-color: #8b9f23 !important;
    border-left: 10px solid #1D1F20 !important;
    outline: none;
    border-radius: 0;
    text-transform: uppercase;
  }

  .panel-heading a:hover{
    font-weight: bolder;
  }


  .nested-panel-heading  { // section heading
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 15px;
    background-color: #D1D1D1 !important;
    border-left: 10px solid #535F15 !important; // indentation marker before section heading
    outline: none;
    border-radius: 0;
    text-transform: uppercase;

    .panel-title a {
      color: #535F15 !important;
    }

    .panel-title span a {
    font-size: 10px;
    font-weight: bold;
    color: #EEEEEE !important;
    border-radius: 18px;
    background-color: #5d6367;
    padding: 8px 10px;
    }
  }

  .panel-default {
    background-color: #F5F5F5 !important;
    margin: 0px !important;
  }
  .collapse {
    background-color: #F5F5F5;
    border: none !important;
    margin: 0 !important;
    outline: none !important;
  }
  .panel-collapse>a{
    padding-left: 20px !important;
  }

  .panel-title>a{
    color: #1D1F20 !important;
    font-weight: bolder;
  }
  .panel-title span a {
    font-size: 10px;
    font-weight: bold;
    color: #EEEEEE !important;
    border-radius: 18px;
    background-color: #535F15;
    padding: 8px 10px;
  }
  .panel-title span a:hover {
    background-color: #8B9F23;
  }
}
.replies{
  background-color: rgba(255,255,255,.6);
  height: 487px;
  overflow: scroll;
  padding: 30px 50px 20px 50px;
  border: 1px solid #d5d5d5;
}
.bottom{
  margin-bottom: 0;
}
.user-mail{
  color: #8B9F23;
}
.reply-line {
  width:100%;
  border:0px none white;
  border-top:2px solid #EEEEEE;
}

/*MEDIA QUERIES*/
@media (max-width: 765px) {
  .slogantext {
    font-size: 13px;
    text-transform: uppercase;
  }
  .splashtitle {
    font-size: 60px;
    border: 2px solid #FFFFFF;
    width:auto;
    background-color: rgba(29, 31, 32, 0.7);
  }
  .big-button {
    width: 250px;
  }

}
